adjust_layer {
  display-name = "adjust";
  bindings = <
    &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3     &none &none &none &none &none &none
    &ext_power EP_TOG  &sys_reset &bootloader   &none &none                &none &none &none &none &none &none
    &none &none &none &none &none &none                                    &none &none &none &none &none &none
                     &none &none                                        &none &none
  >;
};