name: Build ZMK firmware

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - board: nice_nano_v2
            shield: sofle_left
          - board: nice_nano_v2
            shield: sofle_right

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build ZMK firmware
        uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v3
        with:
          board: ${{ matrix.board }}
          shield: ${{ matrix.shield }}
